<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit/c1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{116,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,216}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/c1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,216}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/c1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,202}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{116,202}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/c1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,206},{116,184}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{116,184}}</string>
                <key>sourceSize</key>
                <string>{116,216}</string>
            </dict>
            <key>unit/chick.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,438},{39,39}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{39,39}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/chickDead.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,438},{41,39}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{41,39}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/cock.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,392},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,392},{27,33}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,67},{27,33}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/eggBroken.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{45,41}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{45,41}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>unit/hen.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{79,97}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{79,97}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ca7fed2b2d83734c771c2b4f0b883df:2a35bc0171156d5ae663173daa7381ca:52ac833776d3de1ab64d6632c7113e8c$</string>
            <key>textureFileName</key>
            <string>unit-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
